%h1
  %span Closed Auctions

%h3= "Total closed auction: #{@closed_auctions.count}"
- if @closed_auctions.empty?
  .empty_collection
    %p.emptyMsg There are no closed auctions.
- else
  %table{:class => 'table table-simpleBordered', :id => 'closedAuctions'}
    %tbody
      - @closed_auctions.each do |auction|
        = render :partial => "close_auction", :locals => { :auction => auction }