%h1
  %span Expired Auctions

- status = page_entries_info @closed_auctions
- replacements = [ ["silent", "expired"], ["entries", "auctions"] ]
- replacements.each {|replacement| status.gsub!(replacement[0], replacement[1])}
%h3= status.html_safe
- if @expired_auctions.empty?
  .empty_collection
    %p.emptyMsg There are no expired auctions.
- else
  %table{:class => 'table table-simpleBordered', :id => 'expiredAuctions'}
    %tbody
      - @expired_auctions.each do |auction|
        = render :partial => "expired_auction", :locals => { :auction => auction }
  %div{:class => 'index_footer clearfix'}
    = paginate @expired_auctions
    .pagination_info
      = (page_entries_info @expired_auctions).sub("silent", "expired").html_safe