%h1{:style => 'margin-bottom:20px;'}
  %span{:style => 'display:inline-block; margin-right:20px'} Silent Auctions Listing
  = link_to 'Create NEW Auction', new_silent_auction_path, :class => 'btn btn-primary'

- if @silent_auctions.empty?
  .empty_collection
    %em There is no auction
- else
  %table{:class => 'table table-striped'}
    %tbody
      - @silent_auctions.each do |auction|
        %tr
          %td
            %p{:style => 'font-weight:bold; font-size:1.2em'}= auction.title
            %p= auction.description

