%h1
  %span Silent Auctions Listing
  - if current_user.admin?
    = link_to 'Create NEW Auction', new_silent_auction_path, :class => 'btn btn-primary'

%h3 Running Auctions
- if @running_auctions.empty?
  .empty_collection
    %p.emptyMsg There is no running auction.
- else
  %table{:class => 'table table-simpleBordered', :id => 'runningAuctions'}
    %tbody
      - @running_auctions.each do |auction|
        = render :partial => "running_auction", :locals => { :auction => auction }

%h3 Closed Auctions
- if @closed_auctions.empty?
  .empty_collection
    %p.emptyMsg There is no closed auction.
- else
  %table{:class => 'table table-simpleBordered', :id => 'closedAuctions'}
    %tbody
      - @closed_auctions.each do |auction|
        = render :partial => "close_auction", :locals => { :auction => auction }
