%h1
  %span Running Auctions
  - if current_user.admin?
    = link_to 'Create NEW Auction', new_silent_auction_path, :class => 'btn btn-primary'

%h3= "Total running auction: #{@running_auctions.count}"
- if @running_auctions.empty?
  .empty_collection
    %p.emptyMsg There are no running auctions.
- else
  %table{:class => 'table table-simpleBordered', :id => 'runningAuctions'}
    %tbody
      - @running_auctions.each do |auction|
        = render :partial => "running_auction", :locals => { :auction => auction }
