%div{:class => "jumbotron masthead"}
  %h1 TW Amazon
  %p Trading &amp; Auctioning Platform for Thoughtworkers
  %p
    =link_to "Login using your Thoughtworks account", user_omniauth_authorize_path(:cas), :class => "btn btn-primary btn-large"
