= simple_form_for (Bid.new), :remote => true, :html => { :class => 'form-inline bid_form' } do |f|
  = f.input :amount, :label => "Your Bid", :input_html => {:class => "span1", :type => "text"}
  = f.hidden_field :silent_auction_id, :value => auction.id
  = submit_tag "Place Bid", :class => 'btn btn-primary btn-mini', :disable_with => "Submitting..."