-#= simple_format("Your bid: <span class='delBid'>#{number_to_currency(bid.amount)}</span>")
= simple_format("Your bid: <span class='delBid'>#{get_region_config(current_user.region)['currency']} #{number_with_delimiter(bid.amount)}</span>")
%span{:style => 'font-weight:bold; color:#f00'} WITHDRAWN