%h1{:style => 'margin-bottom:20px;'} Create New Region

%form{:action => "update_region_YAML"}
  %label{:value => "name"} Region name
  %input{:type => "text", :name=>"region_name",:value=>"#{@regionname}"}
  %label{:value => "currency"} Region currency
  %input{:type => "text", :name=>"region_currency" ,:value=>"#{@regioncurrency}"}
  %label{:value => "timezone"} Region timezone 
  %input{:type => "text", :name=>"region_timezone" ,:value=>"#{@regiontimezone}"}
  %label{:value => "maximum"} Region maximun price/bid 
  %input{:type => "text", :name=>"region_maximum",:value=>"#{@regionmaximum}"}
  %br/
  %input{:type=>"submit", :value=>"New Region"}
 