- @user = current_user
%div.page-header
  %h1
    Welcome
    %small
      #{@user.username}
  = link_to new_silent_auction_path, {:class => 'btn btn-success btn-large'} do
    -#%span{:class => 'ui-icon ui-icon-circle-plus'}
    Create New Auction

%h1
  %span Most Recent
%ul{:class=> 'thumbnails', :id => 'mostRecentAuctions'}
  - @running_auctions[0..4].each do |auction|
    = render :partial => "most_recent", :locals => { :@running_auction => auction }
%hr
%h1
  %span Ending Soon
  %ul.thumbnails
    - @ending_soon[0..4].each do |auction|
      = render :partial => "ending_soon", :locals => { :@ending_soon => auction }
