.masthead {
  margin-bottom: 72px;
  padding-top: 36px;
  text-align: center;
}

.jumbotron {
  position: relative;
}

.masthead h1 {
  margin-bottom: 18px;
}

.jumbotron h1 {
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 9px;

  background: url(asset-path("header-large-left-blue.png", image)) no-repeat left top, url(asset-path("header-large-right-blue.png", image)) no-repeat right bottom;
  letter-spacing: -3px;
  padding: 15px 23px 16px;
  display:inline-block;
}

.masthead p {
  font-size: 30px;
  line-height: 36px;
  margin-left: 5%;
  margin-right: 5%;
}

.jumbotron p {
  font-weight: 300;
  margin-bottom: 18px;
}

.jumbotron .btn-large {
  border-radius: 6px 6px 6px 6px;
  font-size: 20px;
  font-weight: normal;
  margin-right: 10px;
  padding: 14px 24px;
  margin-top:20px;
}

.center{
  text-align: center;
}
