.container h3 {
  margin-top:20px;

  background-color: #EFEFEF;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EFEFEF), to(#DFE1E2));
  background: -webkit-linear-gradient(top, #EFEFEF, #DFE1E2);
  background: -moz-linear-gradient(top, #EFEFEF, #DFE1E2);
  background: -ms-linear-gradient(top, #EFEFEF, #DFE1E2);
  background: -o-linear-gradient(top, #EFEFEF, #DFE1E2);

  box-shadow:rgba(0, 0, 0, 0.117188) 0 1px 3px, white 0 0 1px inset;
  border-top-style:solid;
  border-top-width:1px;
  border: 1px solid #D4D4D4;
  border-top-color:#E6E6E6;
  border-bottom-color:#CDCDCD;
  box-shadow:rgba(0, 0, 0, 0.117188) 0 1px 3px, white 0 0 1px inset;
  color:#5E6469;
  font-size:1em;
  font-weight:bold;
  line-height:18px;
  padding: 5px 10px 3px 10px;
  text-shadow:white 0 1px 0;
}

.just_closed td {
  background: #f3f3f3;
}

.table tbody tr.just_closed:hover td, .table tbody tr.just_closed:hover th {
  background: #f3f3f3;
}

.emptyMsg {background:#fff; border:1px solid #dddddd; font-size:14px; padding:20px 10px; font-style: italic; color:#666;}
.itemTitle {font-weight:bold; font-size:1.1em; margin:0; color:#003E77;}
.itemDescription {padding-top:5px;}
.delBid {text-decoration: line-through; font-weight:bold;}
.itemWinner {font-weight:bold; margin-top:5px;}
.highlight {color:green; font-weight:bold;}
.lost {color:red; font-weight:bold;}
.error {color:#B94A48;}
.msg {margin-top:5px;}
span.success i{display:inline-block; margin-left:5px;}

.bid_col p {margin-bottom:2px;}

/* main listing table proportion */
td.auction_photos {width:10%; text-align: center;}
td.auction_info {width:55%}
td.min_price {width:10%}

td.end_date {width:10%}

/*be careful when change, bid_col = auctions_bid + auctions_controls in user view for running auctions*/
td.bid_col {width:15%}
td.auction_bids {width:5%}
td.auction_controls {width:10%;}

.auction_controls p{
  margin-bottom:0;
}

.controls_holder {text-align: right;}
.delete_btn {
  color:#a4a4a4;
  font-weight:bold;
  text-transform: uppercase;
}

/*Confirm delete page*/

.confirm_delete {
  color:#333;
}
.confirm_delete h2 {
  color:#CF4334; margin-bottom:10px;
  background:url("/assets/warning.png") 0 0 no-repeat; padding-left:40px;
}

.confirm_delete table, .confirm_delete table tr td {
  border:none;
  margin:0;
}

.confirm_delete .wrapper {
  border-radius: 4px;
  margin:0 18px 10px 38px;
  border: 1px solid #FBEED5;
}

.confirm_delete .warningText {
  margin-left: 40px; margin-bottom:10px;
}

.confirm_delete .wrapper h4 {
  background-color: #f5f5f5;
  border-radius: 3px 3px 3px 3px;
  padding: 2px 4px 2px 10px;
  font-size: 13px;
  margin: 20px 0 5px 0;
  width:50%;
  color:#CF4334;
}

.confirm_delete .wrapper p.empty{
  margin-left:8px;
  font-style: italic;
}

.confirm_delete .btn_wrapper {
  margin:0 18px 10px 38px;
  text-align: right;
}

.confirm_delete .wrapper ul {
  margin-bottom:10px;
  font-weight:bold;
}

.confirm_delete .wrapper ul li.win span {
  color: #468847
}

/*for character counter in create auction page*/
.text_counter .controls {
  margin-bottom:30px; position: relative;
}
form .counter{
  margin-top:9px; font-size:0.9em; position: absolute; left:0; bottom:-25px;
  font-weight:bold;
  color:#888;
}
form .warning{color:#600;}
form .exceeded{color:#e00;}

/*for image upload section in create auction page*/
.fields {
  padding:10px;
  background: #ededed;
  border:1px solid #E4E4E4;
  border-radius: 5px;
  margin-right:10px;
  margin-bottom: 10px;
  vertical-align:top;
  position: relative;
  display: inline-block;
}

.photo_label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}

.image_holder {
  margin: 0;
  width:100px;
  height:90px; overflow: hidden;
  display: inline-block;
  text-align: center;
  border: 1px solid #ccc;
  margin-right:5px;
  vertical-align:top;
  background: #fff;
  padding:2px;
}

.image_holder img {
  height: 90px;
}

.field_holder {
  display: inline-block;
}

.fields textarea {
  position: static;
  border-color:#E4DFDF;
}

.inner_fields .fakefile {
  position: absolute; top:3px; left:3px; z-index: 2;
}

.inner_fields .file-input{
  z-index: 100;
  position: relative;
  -moz-opacity:0 ;
  filter: alpha(opacity: 0);
  opacity: 0;
}

.inner_fields input.filename {
  border: none; background: transparent; box-shadow: none; border-radius: 0;
  font-size: 0.9em; color: #666; width:245px; cursor: default;
}

.inner_fields .help-inline {
  display: block;
}

.inner_fields .control-group {
  margin: 0; padding: 0;
}
.inner_fields {
  padding:3px 5px;
  margin: 0px 0 5px 0px;
  background: #fff;
  position: relative;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.add-image-btn {
  margin-top: 9px;
  display:block;
  width:130px;
}

.delete-holder {
  text-align: right;
}

.photo_area {
  width:121px;
  height:94px;
  border: 1px solid #eeeeee;
  background: #fff;
}
.albums {
  background: url("/assets/sprProductCard_2.png") no-repeat 0 0;
  width:130px;
  height:101px;
  padding-top: 1px;
}

.albums a {
  display: block;
}

.note {
  font-size: 10px;
  color:#666;
}

legend.file_upload {
  border: none;
  width:140px;
  float: left;
  position: relative; top:3px; line-height: 1.3;
}

legend.file_upload span {font-size:13px;}

.manage_auction {
  text-align: left;
  display: inline-block;
}

.manage_auction .dropdown-menu {
  width:130px;
  min-width:130px;
}

#submit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 8010;
  background: rgba(255,255,255,0.7) url("/assets/loading.gif") center no-repeat;
  width: 100%;
  height: 100%;
  display: none;
}

.fileinput-button div {display: inline;}