.container h3 {
  margin-top:20px;

  background-color: #EFEFEF;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EFEFEF), to(#DFE1E2));
  background: -webkit-linear-gradient(top, #EFEFEF, #DFE1E2);
  background: -moz-linear-gradient(top, #EFEFEF, #DFE1E2);
  background: -ms-linear-gradient(top, #EFEFEF, #DFE1E2);
  background: -o-linear-gradient(top, #EFEFEF, #DFE1E2);

  box-shadow:rgba(0, 0, 0, 0.117188) 0 1px 3px, white 0 0 1px inset;
  border-top-style:solid;
  border-top-width:1px;
  border: 1px solid #D4D4D4;
  border-top-color:#E6E6E6;
  border-bottom-color:#CDCDCD;
  box-shadow:rgba(0, 0, 0, 0.117188) 0 1px 3px, white 0 0 1px inset;
  color:#5E6469;
  font-size:1em;
  font-weight:bold;
  line-height:18px;
  padding: 5px 10px 3px 10px;
  text-shadow:white 0 1px 0;
}

.bid_auction td, {
  //background: #fdffda;
}

.table tbody tr.bid_auction:hover td, .table tbody tr.bid_auction:hover th {
  //background: #fdffda;
}

.just_closed td, {
  background: #f3f3f3;
}

.table tbody tr.just_closed:hover td, .table tbody tr.just_closed:hover th {
  background: #f3f3f3;
}

.emptyMsg {background:#fff; border:1px solid #dddddd; font-size:14px; padding:20px 10px; font-style: italic; color:#666;}
.itemTitle {font-weight:bold; font-size:1.1em; margin:0;}
.delBid {text-decoration: line-through; font-weight:bold;}
.itemWinner {font-weight:bold; margin-top:5px;}
.highlight {color:green; font-weight:bold;}
.lost {color:red; font-weight:bold;}
.error {color:#B94A48;}
.msg {margin-top:5px;}
span.success i{display:inline-block; margin-left:5px;}

.bid_col p {margin-bottom:2px;}

// main listing table proportion
td.auction_photos {width:10%}
td.auction_info {width:50%}
td.min_price {width:10%}

td.end_date {width:10%}

//becareful when change, bid_col = auctions_bid + auctions_controls in user view for running auctions
td.bid_col {width:20%}
td.auction_bids {width:10%}
td.auction_controls {width:10%;}

.auction_controls p{
  margin-bottom:0;
}

.controls_holder {text-align: right;}
.delete_btn {
  color:#a4a4a4;
  font-weight:bold;
  text-transform: uppercase;
}

// Confirm delete page

.confirm_delete {
  color:#333;
}
.confirm_delete h2 {
  color:#CF4334; margin-bottom:10px;
  background:url("/assets/warning.png") 0 0 no-repeat; padding-left:40px;
}

.confirm_delete table, .confirm_delete table tr td {
  border:none;
  margin:0;
}

.confirm_delete .wrapper {
  border-radius: 4px;
  margin:0 18px 10px 38px;
  border: 1px solid #FBEED5;
}

.confirm_delete .warningText {
  margin-left: 40px; margin-bottom:10px;
}

.confirm_delete .wrapper h4 {
  background-color: #f5f5f5;
  border-radius: 3px 3px 3px 3px;
  padding: 2px 4px 2px 10px;
  font-size: 13px;
  margin: 20px 0 5px 0;
  width:50%;
  color:#CF4334;
}

.confirm_delete .wrapper p.empty{
  margin-left:8px;
  font-style: italic;
}

.confirm_delete .btn_wrapper {
  margin:0 18px 10px 38px;
  text-align: right;
}

.confirm_delete .wrapper ul {
  margin-bottom:10px;
  font-weight:bold;
}

.confirm_delete .wrapper ul li.win span {
  color: #468847
}

form .counter{
  display: block; margin-top:9px; font-size:0.9em;
  font-weight:bold;
  color:#888;
}
form .warning{color:#600;}
form .exceeded{color:#e00;}