%ul.nav
  %li.divider-vertical
  %li
    = link_to "Running Auctions", running_silent_auctions_path
  %li.divider-vertical
  %li
    = link_to "Closed Auctions", closed_silent_auctions_path
  %li.divider-vertical
    %li
      = link_to "Expired Auctions", expired_silent_auctions_path
  %li.divider-vertical
  %li
    %a{:href => new_silent_auction_path}
      %i{:class => 'icon-edit icon-green'}
      Create New Auction
