%ul.nav
  %li.dropdown
    %a{:href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown"}
      Silent Auctions
      %b.caret
    %ul{:class => "dropdown-menu"}
      %li
        %a{:href => silent_auctions_path}
          %i.icon-list
          Silent Auctions Listing
        - if current_user.admin?
          %a{:href => new_silent_auction_path}
            %i.icon-edit
            Create New Auction