%ul{:class => "nav pull-right"}
  - @user = current_user
  -#- unless @user.region.nil?
  - unless @user.region.nil?
    - unless @user.region == ""
      %li.divider-vertical
      -#%li{:class => "dropdown-menu", :id => "region-selector"}
      %li{:id => "region-selector", :class => ""}
        = simple_nested_form_for @user, :html => { :multipart => false } do |f|
          -#= f.input :region, :label => '<span id="region-selector-label">Your Region:</span>', :collection => [["AUS","au"], ["IND","id"]], :selected => @user.region, :onchange => 'alert(@user);'
          -#= f.input :region, :collection => [["Region:",""],["AUS","au"], ["IND","id"]], :selected => @user.region, :onchange => 'alert(@user);'
          -#- @config_file = "#{Rails.root}/config/region.yml"
          -#- @yaml = YAML.load_file(@config_file)
          -#= f.input :region, :collection => @yaml.map, :selected => @user.region, :onchange => 'alert(@user);'
          = f.input :region, :collection => get_regions, :selected => @user.region, :onchange => 'alert(@user);'
  %li.divider-vertical
  %li.dropdown
    %a{:href => "#", :id => 'user_menu', :class => "dropdown-toggle", "data-toggle" => "dropdown"}
      %span{:class=>"label label-inverse loginStatus"}
        %i{:class => "icon-user icon-white"}
        Logged in as:
        %span{:style => "color:#FFD406"}
          = current_user.username
        - if current_user.admin?
          %span{:class => "loginStatus"} [ ADMIN ]
        %b.caret
    %ul{:class => "dropdown-menu"}
      - if test_mode?
        - if not(current_user.admin?)
          %li=link_to("My Auctions", user_path(current_user))
        %li=link_to("Logout", destroy_user_session_path)
        - if session[:cas_login]
          %li=link_to("Logout from CAS", destroy_cas_user_session_path)
      - else
        - if not(current_user.admin?)
          %li=link_to("My Auctions", user_path(current_user))
        %li=link_to("Logout", destroy_cas_user_session_path)