!!! 5
%html
%head
  %title TWAmazon
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body{:style => 'padding-bottom:50px'}
  .navbar
    .navbar-inner
      .container
        %a(title='TWAmazon Home'){:href => "/", :class => 'brand'} TWAmazon
        %ul.nav
          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown"}
              Silent Auctions
              %b.caret
            %ul{:class => "dropdown-menu"}
              %li
                %a{:href => silent_auctions_path} Silent Auctions Listing
                %a{:href => new_silent_auction_path} Create New Auction
  .container
    = yield


